/* Colour Palette:
  Logo: Wheat (#f5deb3), Navy (#000080)
  Related to Theme: Black, White, #A79FFF (Underline text) #6858FF (light purple -- bkg colour), #3D2DB7 (purple -- icon/subheading colour) 
  Icons: 24px (nav bar), 48px (subheading)
  */

body, html{
    font-family: 'Questrial', sans-serif; /* Font */

    /* height: 100%;  */  /* Full Height (Needed to comment out bc JS transparent nav bar scroll event wasnt fire)  */
    width: 100%; /* Full size */

    margin: 0px; /* Space outside of something */
    padding: 0px;  /* Space inside something */
    overflow-x: hidden;
}

/* (Home Page) Referenced from: https://css-tricks.com/design-considerations-text-images/ */
header {

  /* Dull bkg image */
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../assets/bkgHome.jpeg");
    background-size: cover;
    height: 100vh;

    /* filter: blur(1.5px); */    
  }

/* Menu Nav Bar */
.navbar{
  position: fixed;
  transition: 0.5s;
  height: 6.73vh; 
}
  .navOptions{
  		color: #fff;
  		/* padding: 10px 20px; */
      /* transition: 0.5s;  */ /* Doesnt work?! */
  }

  	.navOptions li{
  		padding: 10px;
  		cursor: pointer;
  		font-size: 16px;
      justify-content: left;
  	}
    .navOptions li:after{
      content: '';
      display: block;
        border-bottom: 2px solid #A79FFF; /* Underline Text on hover */
        transform: scaleX(0);
        transition: .2s ease-in-out;
    }
  	.navOptions li:hover:after{
  	   transform: scaleX(1);
  	}
    .navbar-collapse{
      /* bkg colour moved to main.js */
    }

    /* .navbar-brand{  
  		color: #fff;
  		font-size: 45px;
  		cursor: pointer;
  	} */



    /* -- Side bar nav bar tracker */
    /* body::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      
    }
    body::-webkit-scrollbar
    {
      width: 14px;
    }
    
    body::-webkit-scrollbar-thumb
    {
      
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
      background:  #501e27;
    } */

  
  
  .titleText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    text-align: center;

    border: 1px solid black;
    background-color: #ffffff;
    opacity: 0.8;
  }

  /* Company Title */
.MedicalthText{
  font-size: 4em;
  background: -webkit-linear-gradient(wheat,navy); /* navy looks like #7E69DD, #6720FF, #6E70B0 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;

}

/* Entry Labels */
label{
  color: #3D2DB7;
}



/* -- Book Appointment Form Layout! (Inspired by Codepen) */
#appointmentForm {
  text-align: center;
  position: relative;
  margin-top: 30px;

  height: 100%;
  background-color: #A79FFF;
  /* max-height: 1500px;  Not working? Expands everytime click previous */
}

#appointmentForm fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#appointmentForm fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#appointmentForm input, #appointmentForm textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#appointmentForm input:focus, #appointmentForm textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid navy; /* On click colour */
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*-- buttons --*/
/* NEXT Button */
#appointmentForm .action-button {
  width: 100px;
  background: wheat;
  font-weight: bold;
  color: navy;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#appointmentForm .action-button:hover, #appointmentForm .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px navy;
}

/* PREVIOUS Button */
#appointmentForm .action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: navy; 
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#appointmentForm .action-button-previous:hover, #appointmentForm .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors  */
#progressbar li:after {
  content: '';
  width: 100%; /* Progress bar connector */
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers (NOT WORKING) [if take out works] */

  transition: 0.5s
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: wheat;
  color: navy;
  border:  1px solid black;
}





  .bkg-video{
    width: 100%;
  }



/* (Meet the TEAM and ABOUT US layout) -- Codepen inspired */
.container content, .container aside {
    position: relative;
}

figure {
    width: 100%;
    position: relative;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}	
figure h2 {
    position: absolute;
    top: calc(100% - 50px);
    left: 0;
    width: 100%;
    height: 50px;
    color: wheat;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    text-align: center;
}	

figure .overlay {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

figure .overlay .description {
    font-size: 1.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

figure:hover h2 {
    display: none;
}	
figure:hover .overlay {
    display: block;
    height: 100%;
}



/* Signature */
footer{
    right: 0%;
    font-size: 1.5vh;
    position: fixed;
    bottom: 0;
    z-index: 0; /* Put behind so user can click button */
  }