body, html{
    font-family: 'Questrial', sans-serif; /* Font */

    /* height: 100%;  */  /* Full Height (Needed to comment out bc JS transparent nav bar scroll event wasnt fire)  */
    width: 100%; /* Full size */

    margin: 0px; /* Space outside of something */
    padding: 0px;  /* Space inside something */
    overflow-x: hidden;
}

/* (Home Page) Referenced from: https://css-tricks.com/design-considerations-text-images/ */
header {

  /* Dull bkg image */
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../assets/bkgHome.jpeg");
    background-size: cover;
    height: 100vh;

    /* filter: blur(1.5px); */    
  }

/* Menu Nav Bar */
.navbar{
  position: fixed;
  transition: 0.5s;
  height: 6.73vh; 
}
  .navOptions{
  		color: #fff;
  		/* padding: 10px 20px; */
      /* transition: 0.5s;  */ /* Doesnt work?! */
  }

  	.navOptions li{
  		padding: 10px;
  		cursor: pointer;
  		font-size: 16px;
      justify-content: left;
  	}
    .navOptions li:after{
      content: '';
      display: block;
        border-bottom: 2px solid #A79FFF; /* Underline Text on hover */
        transform: scaleX(0);
        transition: .2s ease-in-out;
    }
  	.navOptions li:hover:after{
  	   transform: scaleX(1);
  	}
    .navbar-collapse{
      /* bkg colour moved to main.js */
    }

    /* .navbar-brand{  
  		color: #fff;
  		font-size: 45px;
  		cursor: pointer;
  	} */



    /* -- Side bar nav bar tracker */
    /* body::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      
    }
    body::-webkit-scrollbar
    {
      width: 14px;
    }
    
    body::-webkit-scrollbar-thumb
    {
      
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
      background:  #501e27;
    } */

  
  
  .titleText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    text-align: center;

    border: 1px solid black;
    background-color: #ffffff;
    opacity: 0.8;
  }

  /* Company Title */
.MedicalthText{
  font-size: 4em;
  background: -webkit-linear-gradient(wheat,navy); /* navy looks like #7E69DD, #6720FF, #6E70B0 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;

}

/* SubHeadings */
  /* h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    white-space: nowrap;
  } */



  .bkg-video{
    width: 100%;
  }





/* (Meet the TEAM and ABOUT US layout) -- Codepen inspired */
.container content, .container aside {
    position: relative;
}

figure {
    width: 100%;
    position: relative;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}	
figure h2 {
    position: absolute;
    top: calc(100% - 56px);
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
}	

figure .overlay {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

figure .overlay .description {
    font-size: 1.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

figure:hover h2 {
    display: none;
}	
figure:hover .overlay {
    display: block;
    height: 100%;
}



/* Signature */
footer{
    right: 0%;
    font-size: 1.5vh;
    position: fixed;
    bottom: 0;
    z-index: 0; /* Put behind so user can click button */
  }