/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
   font choice: https://fonts.googleapis.com/css?family=Raleway&display=swap
*/


body, html {
    font-family: 'Raleway', sans-serif; 

    height: 100%; /* Full height */
    width: 100%; /* Full Size */

    margin: 0; /* Space outside of something */
    padding: 0; /* Space inside something */
}


/* (Referenced w3school parallax scroll) Allow for scrolling in web site with background content stationary. At top to ensure first layer of website */   
/* .parallax {
    background-image: url('../assets/bkg1.jpeg');  Need '..' to find correct folder
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.parallax2 {
    background-image: url("../assets/bkg2.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("../assets/bkg3.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(2px); */
}



.bkg1{
    background-image: url('../assets/bkg1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */

    height: 100%;
    filter: blur(1.5px);
}

h1 {
    font-size: 5vh;
	margin: 0;
	padding: 20px 0;
	color: slategray; 
	text-shadow: 3px 3px 1px black;
}

.landPageText{
    position: absolute;
    top: 9%;
    left: 21vw;
}

.landPageText h3{
font-style: italic;
position: absolute;
left: 20%;
top: 50%;
} 

.landPageText h4{
position: relative;
top: 65vh;
    } 


/* Reference to https://codepen.io/meisterttl/pen/OarYqX */
.rotate{
    text-transform: uppercase;
    display: block;
}
span {
    margin-left: 6px;
    /* position: fixed; */
    -webkit-animation: 12s steps(1, end) infinite text-rotate;
            animation: 12s steps(1, end) infinite text-rotate;
    font-weight: 700;
    opacity: 0;

  }
  span:nth-child(2) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  span:nth-child(3) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  span:nth-child(4) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  span:nth-child(5) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  span:nth-child(6) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  
  @-webkit-keyframes text-rotate {
    0% {
      opacity: 1;
    }
    15.5% {
      opacity: 1;
    }
    16.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes text-rotate {
    0% {
      opacity: 1;
    }
    15.5% {
      opacity: 1;
    }
    16.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


/* Question Titles */
h2{
  text-align: center;
  margin-top: 5%;
  }

img {
  display: block;
  margin: 0 auto;
  box-align: center;
  border-style: solid;
  border-color:black;
}

/* Question Title */
.question {
  background-color: black;
  color: white;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  margin-top:5%;
  margin-bottom:5%;
  width: 50%;
}

.comments{
  text-align: left;
  color: white;
  margin-top: 11%;
}


.submit {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffff66;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: white;
  font-style: italic;
  font-size: 75%;
  right: 1%;
  position: absolute;
}